// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright 2022 Boundary Devices
 */

#include "imx8ulp-tag.dts"

/ {
	aliases {
		gpio0 = &gpioa;
		gpio1 = &gpiob;
		gpio2 = &gpioc;
	};

	gpioa: gpio@0 {
		compatible = "fsl,imx-rpmsg-gpio";
		port_idx = <0>;
		gpio-controller;
		#gpio-cells = <2>;
		#interrupt-cells = <2>;
		interrupt-controller;
		interrupt-parent = <&gpioa>;
		status = "okay";
	};

	gpiob: gpio@1 {
		compatible = "fsl,imx-rpmsg-gpio";
		port_idx = <1>;
		gpio-controller;
		#gpio-cells = <2>;
		#interrupt-cells = <2>;
		interrupt-controller;
		interrupt-parent = <&gpiob>;
		status = "okay";
	};

	gpioc: gpio@2 {
		compatible = "fsl,imx-rpmsg-gpio";
		port_idx = <2>;
		gpio-controller;
		#gpio-cells = <2>;
		#interrupt-cells = <2>;
		interrupt-controller;
		interrupt-parent = <&gpioc>;
		status = "okay";
	};

	gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_keys1>;

		aux-left {
			label = "aux left";
			gpios = <&gpiob 7 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_BRIGHTNESS_TOGGLE>;
		};

		aux-right {
			label = "aux right";
			gpios = <&gpioc 0 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_SCROLLDOWN>;
		};
		nav-menu {
			label = "nav menu";
			gpios = <&gpioc 17 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_MENU>;
		};

		nav-left {
			label = "nav left";
			gpios = <&gpioa 16 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_LEFT>;
		};

		nav-up {
			label = "nav up";
			gpios = <&gpioe 17 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_UP>;
		};

		nav-right {
			label = "nav right";
			gpios = <&gpioe 18 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_RIGHT>;
		};

		nav-down {
			label = "nav down";
			gpios = <&gpioe 19 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_DOWN>;
		};

		nav-select {
			label = "nav select";
			gpios = <&gpioe 16 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_ENTER>;
		};

		nav-back {
			label = "nav back";
			gpios = <&gpioe 2 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_BACK>;
		};
	};

	imx8ulp_cm33: imx8ulp-cm33 {
		compatible = "fsl,imx8ulp-cm33", "fsl,imx7ulp-cm4";
		status = "disabled";
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_gpio_leds>;

		led-auxbacklight {
			gpios = <&gpiod 18 GPIO_ACTIVE_LOW>;
		};

		led-auxenable {
			gpios = <&gpioc 3 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		led-btnbacklight {
			gpios = <&gpiof 4 GPIO_ACTIVE_LOW>;
		};

                led-gpsreceiver {
			gpios = <&gpioe 10 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};

		led-backlight {
			gpios = <&gpioe 9 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

		led-backlight-driver {
			gpios = <&gpioc 11 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};

		led-ugram-gps-pwrn {
			gpios = <&gpioc 16 GPIO_ACTIVE_LOW>;
			default-state = "on";
		};
	};

	reserved-memory {
		rsc_table: rsc_table@1fff8000{
			reg = <0 0x1fff8000 0 0x1000>;
			no-map;
		};

		vdev0vring0: vdev0vring0@aff00000 {
			reg = <0 0xaff00000 0 0x8000>;
			no-map;
		};

		vdev0vring1: vdev0vring1@aff08000 {
			reg = <0 0xaff08000 0 0x8000>;
			no-map;
		};

		vdev1vring0: vdev1vring0@aff10000 {
			reg = <0 0xaff10000 0 0x8000>;
			no-map;
		};

		vdev1vring1: vdev1vring1@aff18000 {
			reg = <0 0xaff18000 0 0x8000>;
			no-map;
		};

		vdevbuffer: vdevbuffer@a8400000 {
			compatible = "shared-dma-pool";
			reg = <0 0xa8400000 0 0x100000>;
			no-map;
		};

		m33_reserved: m33_noncacheable_section@a8600000 {
			no-map;
			reg = <0 0xa8600000 0 0x1000000>;
		};
	};
};

&imx8ulp_cm33 {
	ipc-only;
	rsc-da=<0x1fff8000>;
	mbox-names = "tx", "rx", "rxdb";
	mboxes = <&mu 0 1
			&mu 1 1
			&mu 3 1>;
	memory-region = <&vdevbuffer>, <&vdev0vring0>, <&vdev0vring1>,
			<&vdev1vring0>, <&vdev1vring1>, <&rsc_table>;
	status = "okay";
};
